@model LiftManager.ViewModels.WorkoutFormViewModel
@{
    ViewBag.Title = Model.Heading;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="margin-top: 30px;">@Model.Heading</h2>
@using (Html.BeginForm(Model.Action, "Workouts"))
{
    <p class="alert alert-info">All fields are <strong>required</strong>.</p>
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.PlanId)
    @Html.HiddenFor(m => m.Week)
    @Html.HiddenFor(m => m.Day)
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", autofocus = "autofocus" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Genre)
        @Html.DropDownListFor(m => m.Genre, new SelectList(Model.Genres, "Id", "Name"), "", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Genre)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.PlanName, "Plan Name")
        @Html.TextBoxFor(m => m.PlanName, new { @class = "form-control", autofocus = "autofocus", @readonly = true })
        @Html.ValidationMessageFor(m => m.PlanName)
    </div>
    <button type="submit" class="btn btn-primary btn-lg">Save</button>

}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
