@model TrainingManager.ViewModels.UserViewModel
@{
    ViewBag.Title = Model.Header;
}
<div class="row" style="margin-top: 20px;">
    <div class="col-md-offset-3 col-md-6 panel panel-default">
        <h3 class="text-center">Details</h3>
        <hr />
        <div class="row">
            <div class="col-md-3 col-md-offset-2" style="font-size:16px;">
                <p>Name: </p>
                <p>Gender:</p>
                <p>Date Joined:</p>
                <p># of Plans:</p>
                <p># of Favourites:</p>
                <p style="padding-bottom:10px;"># of Ratings:</p>
            </div>
            <div class="col-md-6" style="font-size:16px;">
                <p class="text-center">@Model.User.Name</p>
                <p class="text-center">@Model.User.Gender</p>
                <p class="text-center">@Model.User.DateJoined.ToShortDateString()</p>
                <p class="text-center">@Model.PlanCount</p>
                <p class="text-center">@Model.Favourites.Count()</p>
                <p class="text-center">@Model.Ratings.Count()</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-offset-3 col-md-6 panel panel-default">
        <h3 class="text-center">Type</h3>
        <hr />
        <div style="margin: 20px;">
            <h4 class="text-center"><i>@Model.User.TrainingTypeName</i></h4>
        </div>
        <div class="text-center" style="margin-bottom:20px;">
            <img src="~/img/@Model.TrainingTypeFileName" style="border-radius: 5px; max-height: 200px;" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-offset-3 col-md-6 panel panel-default">
        <h3 class="text-center">Favourites</h3>
        <hr />
        <canvas id="myBarChart" height="120" style="margin-bottom: 20px;"></canvas>
    </div>
</div>
<div class="row">
    <div class="col-md-offset-3 col-md-6 panel panel-default">
        <h3 class="text-center">Views</h3>
        <hr />
        <canvas id="myPieChart" height="120" style="margin-bottom: 20px;"></canvas>
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/Chart.min.js"></script>
    <script>
        $(function () {
            var model = @Html.Raw(Json.Encode(Model));

            var backColors = new Array();
            var borderColors = new Array();
            for(i = 0; i < model.PlanCount; i++){
                var r = Math.floor(Math.random() * 256);
                var g = Math.floor(Math.random() * 256);
                var b = Math.floor(Math.random() * 256);
                var backColor = 'rgba('+r+', '+g+', '+b+', 0.5)';
                var borderColor = 'rgba('+r+', '+g+', '+b+', 1)';
                backColors.push(backColor);
                borderColors.push(borderColor);

            };

            var ctx = document.getElementById("myBarChart").getContext('2d');
            var myBarChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: model.ChartLabels,
                    datasets: [{
                        label: 'Favourites',
                        data: model.BarChartData,
                        backgroundColor: backColors,
                        borderColor: borderColors,
                        borderWidth: 2
                    }],
                    scaleStepWidth: 1
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });

            ctx = document.getElementById("myPieChart").getContext('2d');
            var myPieChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    datasets: [{
                        data: model.PieChartData,
                        backgroundColor: backColors,
                        borderColor: borderColors
                    }],
                    labels: model.ChartLabels
                }
            });
        });
    </script>
}