@model LiftManager.ViewModels.PlansFormViewModel
@{
    ViewBag.Title = "Plan Summary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    <link href="~/Content/star-rating.min.css" media="all" rel="stylesheet" type="text/css" />
}

@section Scripts {
    <script src="~/Scripts/bootbox.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/js/app-plans.js"></script>
    <script src="~/js/plansController.js"></script>
    <script src="~/Scripts/star-rating.js" type="text/javascript"></script>
}

<h2 class="text-center">@Model.Name Summary</h2>
<hr style="margin-bottom: 10px;" />
<div ng-app="app-plans" ng-controller="plansController as vm" ng-init="init(@Model.PlanId, @Model.LengthInWeeks)" ng-cloak>
    <div class="row text-center">
        <div class="alert alert-success" role="alert" ng-hide="!vm.generalMessage" ng-cloak>
            <strong>Success!</strong> {{ vm.generalMessage }} &nbsp;
        </div>

        <div class="alert alert-danger" role="alert" ng-hide="!vm.errorMessage" ng-cloak>
            <strong>Oh snap!</strong> {{ vm.errorMessage }}
        </div>

        <input class="js-star-rating rating-loading" value="@Model.Rating" data-size="xs" />
        <p class="text-muted" style="font-size: 12px;">Based on @Model.RatingCount user ratings</p>
        <p>Created on: @Model.CreatedOn</p>
        @if (Model.Favourites == 1)
        {
            <p>Favourited by @Model.Favourites user</p>
        }
        else
        {
            <p>Favourited by @Model.Favourites users</p>
        }
        <p>Views: @Model.Views</p>
    </div>
    <hr />

    <h3 class="text-center" style="margin-bottom:20px;">Week {{model.currWeek}}</h3>

    <div class="row">
        <div class="col-md-1 text-center" style="padding: 0">
            <div style="background-color:white; margin:0px; border: solid 1px #dddddd; border-right:none; height: 211.5px;">
                <i ng-show="model.showWeekLeft" class="glyphicon glyphicon-chevron-left summaryShiftArrow" ng-click="shiftWeekLeft();" style="font-size: 2em; padding-top: 88px; padding-bottom: 88px; width:100%;"></i>
            </div>
        </div>
        <div class="col-md-10" style="padding:0">
            <table class="table table-bordered" style="table-layout: fixed;">
                <tr style="color:white; background-color:black;">
                    <th style="border: solid 1px #dddddd;" class="text-center">Monday</th>
                    <th style="border: solid 1px #dddddd;" class="text-center">Tuesday</th>
                    <th style="border: solid 1px #dddddd;" class="text-center">Wednesday</th>
                    <th style="border: solid 1px #dddddd;" class="text-center">Thursday</th>
                    <th style="border: solid 1px #dddddd;" class="text-center">Friday</th>
                    <th style="border: solid 1px #dddddd;" class="text-center">Saturday</th>
                    <th style="border: solid 1px #dddddd;" class="text-center">Sunday</th>
                </tr>
                <tr>
                    <td style="padding:0px; border: solid 1px #dddddd;" ng-repeat="i in model.days">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div ng-show="model.workoutsDict[((model.currWeek-1)*7)+i]">
                                <button class="btn" ng-click="showSelectedWorkoutModal(((model.currWeek-1)*7)+i);" style="border-radius: 0px; padding-top: 50px; padding-bottom: 50px; font-size: 12px; width:100%; background-color: #f2f2f2;">
                                    {{ model.workoutsDict[((model.currWeek-1)*7)+i].Name }}
                                </button>
                                <div>
                                    <a type="button" href="#" ng-href="@Url.Action("Edit", "Workouts")?planId=@Model.PlanId&workoutId={{model.workoutsDict[((model.currWeek-1)*7)+i].Id}}" class="btn btn-info" style="width: 100%; float:left; height:26px; border-radius:0px; font-size: 10px;">Edit</a>
                                    <button ng-click="removeWorkout(model.workoutsDict[((model.currWeek-1)*7)+i].Id)" class="btn btn-danger" style="width: 100%; float:left; height: 26px; border-radius:0px; font-size: 10px;">Remove</button>
                                </div>
                            </div>
                            <div class="text-center">
                                <a ng-show="!model.workoutsDict[((model.currWeek-1)*7)+i]" type="button" class="btn" href="@Url.Action("Create", "Workouts")?planId=@Model.PlanId&week={{model.currWeek-1}}&day={{i}}" style="margin-top: 60px; margin-bottom: 60px; font-size:26px; color:#5cb85c; border-radius: 0px; width: 100%;">
                                    +
                                </a>
                            </div>
                        }
                        else
                        {
                            <div ng-show="model.workoutsDict[((model.currWeek-1)*7)+i]">
                                <button class="btn" ng-click="showSelectedWorkoutModal(((model.currWeek-1)*7)+i);" style="border-radius: 0px; padding-top: 76px; padding-bottom: 76px; font-size: 12px; width:100%; background-color: #f2f2f2;">
                                    {{ model.workoutsDict[((model.currWeek-1)*7)+i].Name }}
                                </button>
                            </div>
                            <div ng-show="!model.workoutsDict[((model.currWeek-1)*7)+i]" style="height:169px;"></div>
                        }
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-1 text-center" style="padding: 0">
            <div style="background-color:white; margin:0px; border: solid 1px #dddddd; border-left:none; height: 211.5px;">
                <i ng-show="model.showWeekRight" class="glyphicon glyphicon-chevron-right summaryShiftArrow" ng-click="shiftWeekRight();" style="font-size: 2em; padding-top: 88px; padding-bottom: 88px; border-radius: 0px; width:100%;"></i>
            </div>
        </div>
    </div>


    <!-- Modal to display selected workout -->
    <div id="selectedWorkoutModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button ng-click="resetModalVariables();" type="button" class="close pull-right" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title text-center">{{ model.workoutModalHeader }}</h3>
                </div>
                <div class="modal-body">
                    <div class="container" ng-show="model.showWorkoutContent" ng-hide="!model.showWorkoutContent">
                        <div>
                            <div class="row">
                                <div class="text-center">
                                    <p>Genre: {{ model.selectedWorkout.Genre.Name }}</p>
                                </div>
                            </div>
                        </div>

                        <table class="table table-striped">
                            <tr>
                                <th class="text-center">Name</th>
                                <th class="text-center">Sets</th>
                                <th class="text-center">Rep range</th>
                                <th class="text-center">Image</th>
                                <th class="text-center">Comments</th>
                                @if (Model.CanEdit)
                                {
                                    <th class="text-center">Action</th>
                                }
                            </tr>
                            <tr ng-repeat="exercise in model.selectedWorkout.Exercises">
                                <td>{{ exercise.Name }}</td>
                                <td class="text-center">{{ exercise.Sets }}</td>
                                <td class="text-center">{{ exercise.Reps }}</td>
                                <td class="text-center"><button ng-click="exerciseImageSelected(exercise.Id)" class="btn glyphicon glyphicon-camera"></button></td>
                                <td class="text-center"><button ng-click="exerciseCommentSelected(exercise.Id)" class="btn glyphicon glyphicon-book"></button></td>
                                @if (Model.CanEdit)
                                {
                                    <td class="text-center">
                                        <button ng-click="removeExercise(exercise.Id)" class="btn btn-danger">
                                            Remove
                                        </button>
                                    </td>
                                }
                            </tr>
                        </table>

                        <div class="text-center">
                            @if (Model.CanEdit)
                            {
                                <a type="button" class="btn btn-success" href="@Url.Action("Create", "Exercises")?workoutId={{model.selectedWorkout.Id}}&planId=@Model.PlanId">Add Exercise</a>
                            }
                        </div>
                    </div>
                    <div class="container" ng-show="model.showImageContent" ng-hide="!model.showImageContent">
                        <div class="row">
                            <div class="col-md-1">
                                <i ng-click="resetModalVariables();" class="glyphicon glyphicon-chevron-left" style="padding-top:20px; padding-bottom:20px; padding-right:20px; border-right: solid 1px #dddddd;"></i>
                            </div>
                            <div class="col-md-10 col-md-offset-1">
                                <div ng-show="model.imageHasSrc" class="text-center">
                                    <img style="max-width:400px;" src="{{model.modalImageSrc}}" />
                                </div>
                                <p ng-show="!model.imageHasSrc">No Image has been uploaded for this exercise.</p>
                            </div>
                        </div>
                    </div>
                    <div class="container" ng-show="model.showCommentContent" ng-hide="!model.showCommentContent">
                        <div class="row">
                            <div class="col-md-1">
                                <i ng-click="resetModalVariables();" class="glyphicon glyphicon-chevron-left" style="padding-top:20px; padding-bottom:20px; padding-right:20px; border-right: solid 1px #dddddd;"></i>
                            </div>
                            <div class="col-md-11" style="padding-right: 0px;">
                                <div style="margin-left: 10px; text-align: center">
                                    <p>{{ model.commentText }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>