<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - TrainingManager</title>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="~/img/Dumbell-Logo.png" type="image/x-icon" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("TrainingManager", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                <a href="/" style="margin-right: 20px;">
                    @*<img src="~/img/LM-Logo-White.png" height="30" width="180" style="margin-top: 10px; margin-right:20px;" />*@
                    <img src="~/img/running.svg" height="50" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("User Plans", "Index", "Plans")</li>
                    <li>@Html.ActionLink("Users", "All", "User")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            @if (User.Identity.IsAuthenticated)
            {
                <p class="text-center" style="font-size:12px;">@User.Identity.Name | &copy; @DateTime.Now.Year | Version 1.0 | <a href="https://github.com/ash-midgley/training-manager"><img src="~/img/github-32px.png" width="14" hight="14" style="margin-left: 2px; padding-bottom: 1px;" /></a></p>
            }
            else
            {
                <p class="text-center" style="font-size:12px;">&copy; @DateTime.Now.Year | Version 1.0 | <a href="https://github.com/ash-midgley/training-manager"><img src="~/img/github-32px.png" width="14" hight="14" style="margin-left: 2px; padding-bottom: 1px;"/></a></p>
            }
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/app")
    @RenderSection("scripts", required: false)
</body>
</html>
