@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="~/img/Dumbell-Logo.png" type="image/x-icon" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("TrainingManager", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("User Plans", "Index", "Plans")</li>
                    <li>@Html.ActionLink("Users", "All", "User")</li>
                </ul>
                @if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    @User.Identity.GetUserName() <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("Create", "Plans")">Add Plan</a></li>
                                    <li><a href="@Url.Action("Mine", "Plans")">My Plans</a></li>
                                    <li><a href="@Url.Action("Index", "User")">My Details</a></li>
                                    <li><a href="@Url.Action("Favourites", "Plans")">Favourites</a></li>
                                    <li><a href="@Url.Action("Ratings", "Plans")">Ratings</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                                </ul>
                            </li>
                        </ul>
                    }
                }
                else
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                    </ul>
                }
            </div>
        </div>
    </div>
    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            @if (User.Identity.IsAuthenticated)
            {
                <p class="text-center" style="font-size:12px;">@User.Identity.Name | &copy; @DateTime.Now.Year | Version 1.0 | <a href="https://github.com/ash-midgley/training-manager"><img src="~/img/github-32px.png" width="14" hight="14" style="margin-left: 2px; padding-bottom: 1px;" /></a></p>
            }
            else
            {
                <p class="text-center" style="font-size:12px;">&copy; @DateTime.Now.Year | Version 1.0 | <a href="https://github.com/ash-midgley/training-manager"><img src="~/img/github-32px.png" width="14" hight="14" style="margin-left: 2px; padding-bottom: 1px;" /></a></p>
            }
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/app")
    @RenderSection("scripts", required: false)

    <script>
        $(document).ready(function () {
            var url = window.location;
            $('ul.nav li a').each(function () {
                if (this.href == url) {
                    $("ul.nav li").each(function () {
                        if ($(this).hasClass("active")) {
                            $(this).removeClass("active");
                        }
                    });
                    $(this).parent().addClass('active');
                }
            });
        });
    </script>
</body>
</html>
