@model TrainingManager.ViewModels.PlansFormViewModel
@{
    ViewBag.Title = Model.Heading;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="margin-top: 30px;">@Model.Heading</h2>
@using (Html.BeginForm(Model.Action, "Plans"))
{
    <p class="alert alert-info">All fields are <strong>required</strong>.</p>
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", autofocus = "autofocus" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.LengthInWeeks, "Length (Weeks)")
        @Html.TextBoxFor(m => m.LengthInWeeks, new { @class = "form-control", autofocus = "autofocus" })
        @Html.ValidationMessageFor(m => m.LengthInWeeks)
    </div>
    <button type="submit" class="btn btn-primary btn-lg">Save</button>
}
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
