@model TrainingManager.ViewModels.RatingsViewModel
@{ 
    ViewBag.Title = Model.Heading;
}

@section Scripts{
    <script>
        $(document).ready(function () {
            RatingsController.init();
        });
    </script>
}

<div>
    <h1 class="text-center">@Model.Heading</h1>
    <p class="text-center" style="padding-bottom: 20px;">You have rated @Model.RatingsToDisplay.Count() user plans.</p>
    <table class="table table-striped">
        <tr>
            <th>Plan Name</th>
            <th class="text-center">Rating</th>
            <th class="text-center">Action</th>
        </tr>
        @foreach (var rating in Model.RatingsToDisplay)
        {
            <tr>
                <td>
                    @if (rating.Plan.IsRemoved)
                    {
                        @rating.Plan.Name<span class="label label-default" style="margin-left: 10px;">Removed</span>
                    }
                    else
                    {
                        <a href="@Url.Action("Summary", "Plans", new { id = rating.Plan.Id })">
                            @rating.Plan.Name
                        </a>
                    }

                </td>
                <td class="text-center">@rating.Value/5</td>
                <td class="text-center"><button style="border-radius:0px;" data-plan-id="@rating.PlanId" class="js-remove-rating btn btn-danger">Remove</button></td>
            </tr>
        }   
    </table>
</div>