@model TrainingManager.ViewModels.RatingsViewModel
@{
    ViewBag.Title = Model.Heading;
}

<h2 class="text-center">@Model.Heading</h2>
@if (Model.RatingsToDisplay.Any())
{
    <p class="text-center" id="my-ratings-count">You have rated @Model.RatingsToDisplay.Count() user plans.</p>
    <div class="table-responsive">
        <table class="table table-striped" id="rating-display-table">
            <tr>
                <th>Plan Name</th>
                <th class="text-center">Rating</th>
                <th class="text-center">Action</th>
            </tr>
            @foreach (var rating in Model.RatingsToDisplay)
            {
                <tr>
                    <td>
                        @if (rating.Plan.IsRemoved)
                        {
                            @rating.Plan.Name<span class="badge badge-info" style="margin-left: 10px;">Removed</span>
                        }
                        else
                        {
                            <a href="@Url.Action("Summary", "Plans", new { id = rating.Plan.Id })">
                                @rating.Plan.Name
                            </a>
                        }

                    </td>
                    <td class="text-center">@rating.Value/5</td>
                    <td class="text-center">
                        <button class="btn btn-danger btn-sm js-remove-rating" data-plan-id="@rating.PlanId">Remove</button>
                    </td>
                </tr>
            }
        </table>
    </div>
}
else
{
    <hr />
    <p class="alert alert-info text-center">No ratings to display.</p>
}

@section Scripts{
    <script>
        $(document).ready(function () {
            RatingsController.init('@Html.Raw(Model.UserId)');
        });
    </script>
}