@model TrainingManager.ViewModels.PlansFormViewModel
@{
    ViewBag.Title = "Plan Summary";
}

@section Scripts{
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/js/app-plans.js"></script>
    <script src="~/js/plansController.js"></script>
}

<h2 class="text-center">@Model.Name Summary</h2>
<hr style="margin-bottom: 10px;" />
<div ng-app="app-plans" ng-controller="plansController as vm" ng-init="init(@Model.PlanId, @Model.LengthInWeeks)" ng-cloak>
    <div class="row">
        <div class="col-12 text-center">
            <div class="alert alert-success" role="alert" ng-hide="!vm.generalMessage" ng-cloak>
                <strong>Success!</strong> {{ vm.generalMessage }} &nbsp;
            </div>

            <div class="alert alert-danger" role="alert" ng-hide="!vm.errorMessage" ng-cloak>
                <strong>Oh snap!</strong> {{ vm.errorMessage }}
            </div>

            <input class="js-star-rating rating-loading" value="@Model.Rating" data-size="xs"/>
            @if (Model.RatingCount > 0 && Model.RatingCount != 1)
            {
                <p class="text-muted" style="font-size: 12px;">Based on @Model.RatingCount user ratings</p>
            }
            @if (Model.RatingCount == 1)
            {
                <p class="text-muted" style="font-size: 12px;">Based on @Model.RatingCount user rating</p>
            }
            <p>Created on: @Model.CreatedOn</p>
            @if (Model.Favourites == 1)
            {
                <p>Favourited by @Model.Favourites user</p>
            }
            else
            {
                <p>Favourited by @Model.Favourites users</p>
            }
            <p>Views: @Model.Views</p>
            <a href="/Plans" id="user-plans-link">Back to user plans</a>
        </div>
    </div>
    <hr />

    <h3 class="text-center" style="margin-bottom:20px;">Week {{model.currWeek}}</h3>

    <div class="row">
        <div class="col-1 text-center" style="padding: 0">
            <div class="plan-summary-arrow-block" style="border-right: none;">
                <i ng-show="model.showWeekLeft" class="fa fa-arrow-left summary-shift-arrow" ng-click="shiftWeekLeft();"></i>
            </div>
        </div>
        <div class="col-10" style="padding:0">
            <table class="table table-bordered" style="table-layout: fixed;">
                <tr class="plan-table-row" id="non-mobile-headers">
                    <th class="text-center plan-table-col">{{  model.dayNames[0] }}</th>
                    <th class="text-center plan-table-col">{{ model.dayNames[1] }}</th>
                    <th class="text-center plan-table-col">{{ model.dayNames[2] }}</th>
                    <th class="text-center plan-table-col">{{ model.dayNames[3] }}</th>
                    <th class="text-center plan-table-col">{{ model.dayNames[4] }}</th>
                    <th class="text-center plan-table-col">{{ model.dayNames[5] }}</th>
                    <th class="text-center plan-table-col">{{ model.dayNames[6] }}</th>
                </tr>
                <tr class="plan-table-row" id="mobile-headers">
                    <th class="text-center plan-table-col">{{ model.dayNamesMobile[0] }}</th>
                    <th class="text-center plan-table-col">{{ model.dayNamesMobile[1] }}</th>
                    <th class="text-center plan-table-col">{{ model.dayNamesMobile[2] }}</th>
                    <th class="text-center plan-table-col">{{ model.dayNamesMobile[3] }}</th>
                    <th class="text-center plan-table-col">{{ model.dayNamesMobile[4] }}</th>
                    <th class="text-center plan-table-col">{{ model.dayNamesMobile[5] }}</th>
                    <th class="text-center plan-table-col">{{ model.dayNamesMobile[6] }}</th>
                </tr>
                <tr id="plan-summary-workouts-display">
                    <td ng-repeat="i in model.days">
                        @if (Model.CanEdit)
                        {
                            <div ng-show="model.workoutsDict[((model.currWeek-1)*7)+i]">
                                <a class="btn" id="plan-summary-button-actions" type="button" href="#"
                                   ng-href="@Url.Action("Summary", "Workouts")?planId=@Model.PlanId&workoutId={{model.workoutsDict[((model.currWeek-1)*7)+i].Id}}">
                                    {{ model.workoutsDict[((model.currWeek-1)*7)+i].Name.split(' ')[0] }}...
                                </a>
                                <div>
                                    <a type="button" href="#" class="btn btn-info" id="editBtn"
                                       ng-href="@Url.Action("Edit", "Workouts")?planId=@Model.PlanId&workoutId={{model.workoutsDict[((model.currWeek-1)*7)+i].Id}}">
                                        Edit
                                    </a>
                                    <button class="btn btn-danger" id="removeBtn"
                                            ng-click="removeWorkout(model.workoutsDict[((model.currWeek-1)*7)+i].Id)">
                                        Remove
                                    </button>
                                </div>
                            </div>
                            <div class="text-center">
                                <a ng-show="!model.workoutsDict[((model.currWeek-1)*7)+i]" type="button" class="btn" id="createBtn"
                                   href="@Url.Action("Create", "Workouts")?planId=@Model.PlanId&week={{model.currWeek-1}}&day={{i}}">
                                    +
                                </a>
                            </div>
                        }
                        else
                        {
                            <div ng-show="model.workoutsDict[((model.currWeek-1)*7)+i]">
                                <a class="btn" id="plan-summary-button-no-actions" type="button" href="#"
                                   ng-href="@Url.Action("Summary", "Workouts")?planId=@Model.PlanId&workoutId={{model.workoutsDict[((model.currWeek-1)*7)+i].Id}}">
                                    {{ model.workoutsDict[((model.currWeek-1)*7)+i].Name.split(' ')[0] }}...
                                </a>
                            </div>
                            <div ng-show="!model.workoutsDict[((model.currWeek-1)*7)+i]" style="height:169px;"></div>
                        }
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-1 text-center" style="padding: 0">
            <div class="plan-summary-arrow-block" style="border-left: none;">
                <i ng-show="model.showWeekRight" class="fa fa-arrow-right summary-shift-arrow" ng-click="shiftWeekRight();"></i>
            </div>
        </div>
    </div>
</div>